.news {
  padding-top: 40px;
  padding-bottom: 20px;

  @media screen and (min-width: 1200px) {
    & {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
    color: $title-text-color;
    display: none;

    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 40px;
    }
  }

  // SLIDER
  .slider {
    min-width: 0;
    position: relative;
    height: 240px;

    @media screen and(min-width: 768px) {
      margin-bottom: 10px;
      height: 100%;
    }

    @media screen and(min-width: 1200px) {
      margin-bottom: 30px;
    }

    &__img {
      height: 148px;
      width: 100%;

      @media screen and(min-width: 768px) {
        height: 80%;
      }

      @media screen and(min-width: 1200px) {
        height: 100%;
      }
    }

    &__item {
      position: relative;
    }

    &__svg-container {
      width: 78px;
      display: flex;
      height: 15px;
      text-align: center;
      margin: 0 auto;

      @media screen and(min-width: 768px) {
        width: 105px;
      }

      @media screen and(min-width: 1200px) {
        width: 105px;
      }
    }

    &__svg {
      display: block;
      width: 13px;
      height: 13px;
      fill: #000;

      @media screen and(min-width: 768px) {
        width: 13px;
        height: 13px;
        fill: #fff;
      }

      @media screen and(min-width: 1200px) {
        width: 15px;
        height: 15px;
      }
    }

    &__title {
      color: black;
      text-align: center;
      margin-bottom: 15px;
      font-size: 25px;

      @media screen and(min-width: 768px) {
        margin-bottom: 15px;
        font-size: 30px;
        color: #fff;
        text-shadow: 0 5px 10px rgb(0, 0, 0.33), 0 0 4px rgb(0, 0, 0.33);
      }

      @media screen and(min-width: 1200px) {
        margin-bottom: 25px;
        font-size: 40px;
      }
    }

    &__text {
      display: block;
      color: black;
      text-align: center;
      font-size: 15px;
      margin-bottom: 10px;

      @media screen and(min-width: 768px) {
        margin-bottom: 10px;
        font-size: 20px;
        color: #fff;
        text-shadow: 0 5px 10px rgb(0, 0, 0.33), 0 0 4px rgb(0, 0, 0.33);
      }

      @media screen and(min-width: 1200px) {
        margin-bottom: 15px;
        font-size: 26px;
      }
    }

    &__button {
      margin-right: 6px;
      display: block;
      color: black;
      font-size: 0.6125rem;
      text-transform: uppercase;
      word-wrap: break-word;
      text-decoration: none;

      @media screen and(min-width: 768px) {
        font-size: 0.7125rem;
        color: #fff;
        text-shadow: 0 5px 10px rgb(0, 0, 0.33), 0 0 4px rgb(0, 0, 0.33);
      }

      @media screen and(min-width: 1200px) {
        font-size: 0.8125rem;
      }
    }

    &__description {
      width: 100%;
      left: 50%;
      top: 155px;
      transform: translate(-50%);
      // z-index: 10 !important;
      align-items: center;
      position: absolute;
      // visibility: visible !important;

      @media screen and(min-width: 768px) {
        left: 50%;
        top: 100px;
      }

      @media screen and(min-width: 1200px) {
        left: 50%;
        top: 150px;
      }
    }
  }

  .slider .slick-arrow {
    position: absolute;
    top: 44%;
    z-index: 10;
    font-size: 0;
    width: 25px;
    height: 15px;
  }

  .slider .slick-arrow.slick-prev {
    left: 5px;
    width: 55px;
    height: 55px;
    background: url('../icons/left-arrow.svg') 0 0 / 70% no-repeat;
    background-position: center;
    background-color: #fff;
    border-radius: 10px;
    border: transparent;
  }

  .slider .slick-arrow.slick-next {
    right: 5px;
    width: 55px;
    height: 55px;
    background: url('../icons/right-arrow.svg') 0 0 / 70% no-repeat;
    background-position: center;
    background-color: #fff;
    border-radius: 10px;
    border: transparent;
  }

  /* Ограничивающая оболочка */
  .slider .slick-list {
    height: 345px;
    overflow-y: visible;
    overflow-x: hidden;

    @media screen and(min-width: 768px) {
      height: 242px;
      overflow: hidden;
    }

    @media screen and(min-width: 1200px) {
      height: 383px;
      overflow: hidden;
    }
  }
  /* Лента слайдов */
  .slick-track {
    display: flex;
    align-items: flex-start;
  }

  /* Лента слайдов */
  .slick-track {
    display: flex;
    align-items: flex-start;
  }

  // Second Slider

  .wrapper {
    position: relative;
    height: 60px;

    & .slick-list {
      display: flex;
      overflow: hidden;
      width: 182px;
      margin: 0 auto;
      height: 60px;

      @media screen and(min-width: 768px) {
        width: 358px;
      }
    }

    &__item {
      border-radius: 50%;
      width: 14px !important;
      height: 14px;
      background-color: transparent;
      border: 2px solid $accent-color;
      margin: 0 6px;
      position: relative;
      cursor: pointer;
    }

    & .slick-track {
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translate3d(0px, 0px, 0px) !important;
    }

    & .slick-arrow {
      position: absolute;
      z-index: 10;
      font-size: 0;
      width: 25px;
      height: 15px;
      font-size: 0;
    }

    & .slick-arrow.slick-prev {
      top: 50%;
      transform: translate(-50%);
      left: 4%;
      width: 25px;
      height: 15px;
      //   background: url('../../icons/left-arrow.svg') 0 0 / 100% no-repeat;
      border: transparent;
      font-size: 0;
    }

    & .slick-arrow.slick-next {
      font-size: 0;
      top: 50%;
      transform: translate(-50%);
      right: 4%;
      width: 25px;
      height: 15px;
      //   background: url('../../icons/right-arrow.svg') 0 0 / 100% no-repeat;
      border: transparent;
    }

    &__item.slick-current {
      border: 2px solid $accent-color;
      background-color: $accent-color;
    }
  }
}
